@import 'header';
@import "left";

@import "modules/_index.scss";

*,html,body,div,h1,h2,h3,h4,h5,h6,p,ul,li,ol,font,span,dd,dt,td,tr,table{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	outline: none;
	border: none;
	color:#333;
}

a{
	outline:none;
	&:focus{
		outline: none;
	}
}

.cpx-admin-main{
	width: 100%;
	.cpx-admin-left{
		float: left;
		width: 80px;
	}
	.cpx-admin-right{
		float: left;
		margin-left: 20px;
		overflow-y: scroll;
	}
}