.index-container{
	padding-top:30px;
}
.well{
	background:#fff;
	position: relative;
	h4{
		position: relative;
		.base-datepickers{
			position: absolute;
			left:150px;
			top:-5px;;
			label{
				font-size:15px;
				line-height:30px;
				font-weight:100;
				color:#666;
				margin-right:10px;
			}
			input{
				height:30px;
				border:1px solid #ccc;
				width:300px;
				border-radius:5px;
				font-size:15px;
				font-weight:200;
				padding-left:5px;
			}
		}
	}
	// 基础数据
	.data-list{
		background:#FAFAFA;
		width:100%;
		overflow: hidden;
		margin-top:30px;
		padding:30px 0px;
		.col-md{
			width:20%;
			float: left;
			border-left:1px solid #ccc;
			text-align:center;
			&:nth-child(1){
				border-left:none;
			}
			.text-number{
				font-size:20px;
				color:#18A7EF;
				margin-bottom:5px;
			}
		}
	}
	// 今日统计
	.today-statistics{
		overflow: hidden;
		margin-top:20px;
		.col-md-statistics{
			margin:0;
			padding:0;
			width:30%;
			margin-right: 5%;
			float: left;
			&:nth-child(3){
				margin-right:0;
			}
			position: relative;
			.media{
				background:#fafafa;
			}
			img{
				width:80px;
				height:80px;
			}
			.media-heading{
				font-size:13px;
				font-weight:100;
				text-align:center;
			}
			.media-body{
				padding:10px;
			}
			.up-down-style{
				position: absolute;
				right:80px;
				top:40px;
			}
		}
	}
	// 活跃用户
	.user-table{
		border: 1px solid #ccc;
		width: 100%;
		margin-top: 20px;
		tr{
			border: 1px solid #ccc;
			td{
				border: 1px solid #ccc;
				padding: 5px 0px;
				padding-left: 30px;
			}
		}
	}
}